.container {
    min-height: 100vh;
    place-content: center;
    overflow-x: hidden;
}

.container_form {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 12px;
    justify-items: center;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
}

.inputs input {
    border: 3px black solid;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
}

.buttons button {
    border: 3px black solid;
    padding: 5px;
}

.buttons button:hover{
    background-color: rgb(83, 119, 196);
}

.buttons button:active{
    background-color: rgb(50, 91, 179);
    transform: translateY(2px);
    box-shadow: 0 1px 0 #000;  
}

.card_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    padding: 16px;
    background-color: antiquewhite;
}

.dashboard_container {
    display: grid;
    grid-template-rows: auto auto auto;
    /* justify-items: center; */
    /* align-content: center; */
    gap: 30px
}

.single_button_container {
    display: flex;
    justify-content: center;
}

.single_button_container button {
    border: 3px black solid;
    padding: 5px;
    width: auto
}

.single_button_container button:hover{
    background-color: rgb(195, 125, 100);
}

.but.single_button_container button:active{
    background-color: rgb(163, 72, 39);
    transform: translateY(2px);
    box-shadow: 0 1px 0 #000;  
}